doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title collection.do

    link(rel='stylesheet', href='/styles/app.css')

  body
    ul
      li
        a(href='/') Home
      if user
        li
          a(href='/me') My Collections
        li
          a(href='/logout') Logout
      else
        li
          a(href='/login') Login
        li
          a(href='/register') Register

    block content