extends layout

block navigation
  ul.top-navigation
    li.top-navigation--item
      a.top-navigation--link.is-active(href="/me") My Collections
    li.top-navigation--item
      a.top-navigation--link(href="/settings") Settings
    li.top-navigation--item
      a.top-navigation--link(href="/logout") Logout

block content