body
  margin: 0
  padding: 0
  font-size-m()

h1
  font-size-xl()

h2
  font-size-l()

h3
  font-size-m()

a, a:visited
  text-decoration: none
  color: dark-grey
  transition: color .1s ease-in

  &:hover
    color: highlight-blue

input
  outline: none
  color: dark-grey