.layout--full-width
  width: 100%

.layout--separator
  background-color: light-grey
  width: 100%
  height: 1px

@media (min-device-width: 1000px)
  .layout--full-width
    width: 1000px
    margin: 0 auto