.top-navigation
  padding: 0
  margin: 10px 0
  list-style-type: none

.top-navigation--item
  display: inline

.top-navigation--link, .top-navigation--link:visited
  display: inline-block
  color: light-grey
  padding: 20px
  font-size-l()

  &.is-active, &:hover
    color: dark-grey

  &:first-child
    padding-left: 0